$accent: hsl(248, 32%, 49%);

$neutral: (
  "DarkBlue": hsl(249, 10%, 26%) ,
  "GrayisBlue": hsl(246, 25%, 77%)
);

$primary: (
  "red": hsl(0, 100%, 74%) ,
  "green": hsl(154, 59%, 51%)
);

$fontSize: 16px;

$font-weight: (
  "normal": 400,
  "bold": 500,
  "super": 600,
  "extra": 700  
);

@mixin fontStyle{
  font-family: 'Poppins', sans-serif;
}













